div.job-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px #aaaaaa solid;
  border-radius: 3px;
}

.row.job-info, .row.job-task {
  padding: 5px;
}

button.btn.btn-primary, button.btn.btn-default {
  margin-left: 20px;
  margin-top: 10px;
}
