<ul class="jobs-list list-unstyled">
  <li ng-repeat="job in jobs | orderBy:'nextDue'">
    <div class="job-item" ng-hide="editing">
      <div class="row job-task">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control job-task" disabled value="{{job.task}}"></input>
          </div>
        </div>
      </div>
      <div class="row job-info">
        <div class="col-md-3 dyno-size">
          <h4>Dyno Size:</h4>
          {{job.dynoSize}}
        </div>
        <div class="col-md-3 frequency">
          <h4>Frequency</h4>
          {{job.frequency}}
        </div>
        <div class="col-md-3 last-run">
          <h4>Last Run</h4>
          {{job.lastRun}}
        </div>
        <div class="col-md-3 next-due">
          <h4>Next Due</h4>
          {{job.nextDue | date: 'yyyy-MM-dd HH:mm'}}
        </div>
      </div>
      <div class="row">
        <button class="edit btn btn-primary" ng-click="editing=true">Edit</button>
        <button class="remove btn btn-default" ng-click="remove($index)">Remove</button>
      </div>
    </div>
    <div class="job-item" ng-show="editing">
      <form name="editJob" novalidate>
        <div class="form-group">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control edit-job-task" ng-model="job.task" required></input>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <h4>Dyno Size:</h4>
            <select name="dyno-size" class="edit-job-dyno" ng-model="job.dynoSize">
              <option value="Free">Free</option>
              <option value="Hobby">Hobby</option>
              <option value="Standard">Standard</option>
            </select>
          </div>
          <span ng-controller='FrequencyCtrl'>
            <div class="col-md-3">
              <h4>Frequency</h4>

                <select name="frequency" class="edit-job-frequency" ng-model="job.frequency"
                        ng-options="option for option in frequencyOptions"
                        ng-change="getOptions()">
                </select>
            </div>
            <div class="col-md-3">
              <h4>Last Run</h4>
              Never
            </div>
            <div class="col-md-3">
              <h4>Next Due</h4>
              <select name="next-due" class="edit-job-due" ng-model="job.nextDue"
                      ng-options="option for option in nextDueOptions">
              </select>
            </div>
          </span>
        </div>
        <div class="form-group">
          <button class="submit btn btn-primary edit-job-submit" ng-click="editJob.$valid; save(job); editing=false">Save</button>
          <button class="cancel btn btn-default edit-job-cancel" ng-click="cancel(); editing=false">Cancel</button>
        </div>
      </form>
    </div>
  </li>
</ul>
<new-job></new-job>
