<form name="newJob" novalidate>
  <div class="form-group">
    <label for="task">Task</label>
    <input name="task" ng-model="job.task" type="text" required></input>
  </div>
  <div class="form-group">
    <label for="dyno-size">Dyno Size</label>
    <select name="dyno-size" ng-model="job.dynoSize">
      <option value="Free">Free</option>
      <option value="Hobby">Hobby</option>
      <option value="Standard">Standard</option>
    </select>
    <label for="frequency">Frequency</label>
    <span ng-controller='FrequencyCtrl'>
      <select name="frequency" ng-model="job.frequency"
              ng-options="option for option in frequencyOptions"
              ng-change="getOptions()">
      </select>

    <label>Last Run:</label>
    <span>Never</span>
    <label for="next-due">Next Due</label>
    <select name="next-due" ng-model="job.nextDue"
            ng-options="option for option in nextDueOptions">
    </select>
  </span>
  </div>
  <div class="form-group">
  <button class="submit btn btn-primary" ng-click="save(job)">Save</button>
  <button class="cancel btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
